<div class="division">
    <%= render(TeamLogoComponent.new(image: @division[0])) %>
    <%= render(TeamLogoComponent.new(image: @division[1])) %>
    <%= render(TeamLogoComponent.new(image: @division[2])) %>
    <%= render(TeamLogoComponent.new(image: @division[3])) %>
</div>