<div id="draft-picks" data-controller="draft-picks">
    <div class="draft-picks-content">
        <div style="margin-right: 100px;">
            <div>
                <p>Select your pick(s):</p>
                <p><%= @selectedTeam1 %></p>
                <%= render(DraftPicksContainerComponent.new(picks: getPicks(team: @selectedTeam1), grid: 1)) %>
                <p id="value-grid-1" style="display: none;"></p>
            </div>
        </div>
        <div>
            <div style="margin-left: 100px;">
                <p>Select your pick(s):</p>
                <p><%= @selectedTeam2 %></p>
                <%= render(DraftPicksContainerComponent.new(picks: getPicks(team: @selectedTeam2), grid: 2)) %>
                <p id="value-grid-2" style="display: none;"></p>
            </div>
        </div>
    </div>
    <div class="draft-picks-footer">
        <button type="button" data-draft-picks-target="button" data-action="click->draft-picks#evaluateTrade" disabled>Submit</button>
        <a href="/home"><button type="button">Start a New Trade</button></a>
    </div>
</div>

