<form data-controller="home" action="/draftpicks">
    <input type="hidden" name="selected-team-1" value="" />
    <input type="hidden" name="selected-team-2" value="" />
    <div id="home">
        <div class="home-content">
            <div>
                <div>
                    <p class="header">Select a Team:</p>
                    <%= render(TeamLogosContainerComponent.new(teams: getTeams(grid: 1))) %>
                </div>
            </div>
            <div>
                <div>
                    <p class="header">Select a Team:</p>
                    <%= render(TeamLogosContainerComponent.new(teams: getTeams(grid: 2))) %>
                </div>
            </div>
        </div>
        <div class="home-footer">
            <button type="submit" data-home-target="button" disabled>Go To Next Page</button>
        </div>
    </div>
</form>

