<div id="home" data-controller="home">
    <div class="content">
        <div>
            <div>
                <p>Select a team:</p>
                <%= render(TeamLogosContainerComponent.new(teams: getTeams(grid: 1))) %>
            </div>
        </div>
        <div>
            <div>
                <p>Select a team:</p>
                <%= render(TeamLogosContainerComponent.new(teams: getTeams(grid: 2))) %>
            </div>
        </div>
    </div>
</div>

