<div id="home" data-controller="home">
    <div class="content">
        <div>
            <div>
                <p>Select a team:</p>
                <%= render(TeamLogosContainerComponent.new(teams: getTeams(grid: 1))) %>
            </div>
        </div>
        <div>
            <div>
                <p>Select a team:</p>
                <%= render(TeamLogosContainerComponent.new(teams: getTeams(grid: 2))) %>
            </div>
        </div>
    </div>
    <div class="footer">
        <button type="button" disabled
            data-home-target="button" data-action="click->home#getDraftPicks">Go To Next Page</button>
    </div>
</div>

