/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
    font-family: 'All-Pro Sans';
    src: local('All-Pro Sans Light'), url('../fonts/all-pro-sans-light.otf');
}

@font-face {
    font-family: 'All-Pro Sans';
    src: local('All-Pro Sans'), url('../fonts/all-pro-sans-bold.otf');
    font-weight: bold;
}

html {
    min-height: 100%;
    overflow: hidden;
}

body {
    background: linear-gradient(to bottom left, #E2F6FD, #26D6FF, #0281C8, #373737);
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: 'All-Pro Sans', 'Helvetica', 'Arial', sans-serif;
    height: 100%;
}

#header {
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
}

#chargers_logo {
    width: 20%;
    padding: 0 1rem 0 0.5rem;
    margin-top: 1.5rem;
}

#header div {
    border-left: 1px solid #ffffff;
    padding-left: 1rem;
    align-self: center;
}

@media screen and (width <= 1024px) and (height > 600px) {
    html {
        overflow: scroll;
    }

    #header {
        flex-direction: column;
        align-items: center;
        font-size: 1.2em;
    }

    #header div {
        padding: 0;
        border: none;
        text-align: center;
    }

    #chargers_logo {
        width: 40%;
    }
}

@media screen and (width < 1024px) and (height < 600px) {
    html {
        overflow: scroll;
    }

    #header {
        flex-direction: column;
        align-items: center;
        font-size: 1.2em;
    }

    #header div {
        padding: 0;
        border: none;
        text-align: center;
    }

    #chargers_logo {
        width: 40%;
    }
}
