#draft-picks, #draft-pick-selections, .selection, #draft-picks-buttons,
#trade-results > div, #draft-pick-totals > div, #gain-loss-percentages > div
{
    display: flex;
}

#trade-results {
    display: none;
}

#draft-picks, .selection,
#trade-results, #trade-results > div {
    flex-direction: column;
}

#draft-picks {
    justify-content: center;
    align-items: center;
}

.header {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}

#draft-pick-selections {
    margin-top: 1.5em;
}

.selection {
    justify-content: center;
    margin: 0 6em;
}

#draft-picks-buttons {
    justify-content: right;
    width: 35%;
    margin-top: 2em;
}

#draft-picks-buttons button {
    font-size: 1em;
    margin: 0 .2em;
}

button {
    cursor: pointer;
}

@media screen and (width <= 1024px) and (height > 600px) {
    #draft-pick-selections {
        flex-direction: column;
        margin-top: 0;
    }

    .selection {
        margin-top: 2em;
    }

    .selection > div {
        width: 80%;
    }

    .header {
        font-size: .75em;
    }

    #draft-picks-buttons {
        margin: .5em 0;
    }

    #draft-picks-buttons button {
        font-size: .75em;
    }
}

@media screen and (width < 1024px) and (height < 600px) {
    .selection {
        margin: 1em 4em 0 4em;
    }

    #draft-picks-buttons {
        margin: .5em 0;
    }

    #draft-picks-buttons button {
        font-size: .75em;
    }
}