#draft-picks, .content, .content > div, .content > div > div,
 .footer {
    display: flex;
}

#draft-picks {
    justify-content: center;
    flex-direction: column;
}

p {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}

.content {
    margin-top: 1.5em;
}

.content > div {
    justify-content: center;
}

.content > div > div {
    flex-direction: column;
    width: 60%;
}

.conference {
    flex-direction: column;
}


.footer {
    justify-content: right;
    width: 90%;
    margin-top: 2em;
}

.footer button {
    font-size: 1em;
}

button {
    cursor: pointer;
}

@media screen and (width <= 1024px) and (height > 600px) {
    .content {
        flex-direction: column;
        margin-top: 0;
    }

    .content > div {
        margin-top: 1em;
    }

    .content > div > div {
        width: 80%;
    }

    p {
        font-size: .75em;
    }

    .footer {
        margin: 1em 0;
    }

    .footer button {
        font-size: .75em;
    }
}

@media screen and (width < 1024px) and (height < 600px) {
    .footer {
        margin: 1em 0;
    }

    .footer button {
        font-size: .75em;
    }
}