#draft-picks, #draft-picks >div, #draft-picks > div > div, 
#draft-pick-selections, .selection, #draft-picks-buttons,
#trade-results > div, #draft-pick-totals > div, #gain-loss-percentages > div
{
    display: flex;
}

#trade-results {
    display: none !important;
}

#draft-picks, .selection, #draft-picks > div, #draft-picks > div > div,
#trade-results, #trade-results > div {
    flex-direction: column;
}

#draft-picks {
    align-items: center;
}

#draft-picks > div {
    align-items: start;
}

#draft-picks > div > div {
    align-items: end;
}

.header {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}

#draft-pick-selections {
    margin-top: 1.5em;
}

.selection {
    justify-content: center;
    margin: 0 6em;
}

#draft-picks-buttons {
    margin: 1em 6em 0 0;
}

button {
    cursor: pointer;
    margin-right: 5px;
}

#trade-results {
    margin: 1em 0 0 6em;
    align-items: start !important;
}

@media screen and (width <= 1024px) and (height > 600px) {
    #draft-pick-selections {
        flex-direction: column;
        margin-top: 0;
    }

    .selection {
        margin-top: 2em;
    }

    .selection > div {
        width: 80%;
    }

    .header {
        font-size: .75em;
    }

    #draft-picks-buttons {
        margin: .5em 0;
    }

    #draft-picks-buttons button {
        font-size: .75em;
    }
}

@media screen and (width < 1024px) and (height < 600px) {
    .selection {
        margin: 1em 4em 0 4em;
    }

    #draft-picks-buttons {
        margin: .5em 0;
    }

    #draft-picks-buttons button {
        font-size: .75em;
    }
}