#home, .home-content, .home-content > div, .home-content > div > div,
.conference, .division, .home-footer {
    display: flex;
}

#home {
    justify-content: center;
    flex-direction: column;
}

.header {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}

.home-content {
    margin-top: 1.5em;
}

.home-content > div {
    justify-content: center;
}

.home-content > div > div {
    flex-direction: column;
    width: 60%;
}

.conference {
    flex-direction: column;
}

.image {
    border-radius: 20px 20px 0 20px;
    background: rgba(22, 136, 199, .5);
    margin: 5px 5px;
    display: flex;
    justify-content: center;
}

.selected {
    background: rgba(2, 120, 190, .75);
}

.image img {
    width: 50%;
}

.home-footer {
    justify-content: right;
    width: 90%;
    margin-top: 2em;
}

.home-footer button {
    font-size: 1em;
}

.image, button {
    cursor: pointer;
}

@media screen and (width <= 1024px) and (height > 600px) {
    .home-content {
        flex-direction: column;
        margin-top: 0;
    }

    .home-content > div {
        margin-top: 1em;
    }

    .home-content > div > div {
        width: 80%;
    }

    .header {
        font-size: .75em;
    }

    .home-footer {
        margin: 1em 0;
    }

    .home-footer button {
        font-size: .75em;
    }
}

@media screen and (width < 1024px) and (height < 600px) {
    .home-footer {
        margin: 1em 0;
    }

    .home-footer button {
        font-size: .75em;
    }
}